* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

@font-face {
    font-family: "estedad-bold";
    src: url(../fonts/Estedad-Bold.ttf);
}

@font-face {
    font-family: "estedad-medium";
    src: url(../fonts/Estedad-Medium.ttf);
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "estedad-medium";
}

.container {
    width: 500px;
    height: 500px;
    background-color: #ffeed0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
}

.form-container {
    width: 100%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.header-title {
    font-family: "estedad-bold";
    text-transform: capitalize;
    font-size: 24px;
}

#form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.form-data {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-invalid {
    width: 100%;
    padding: 3px;
    font-size: 12px;
    color: red;
}

#input-item {
    width: 82%;
    height: 36px;
    border-radius: 6px;
    border: none;
    outline: none;
    padding: 1rem;
    font-family: "estedad-medium";
    font-size: 12px;


}

#submit-button {
    width: 16%;
    height: 36px;
    border: none;
    outline: none;
    border-radius: 6px;
    background-color: #4e4637;
    color: white;
    font-size: 12px;
    cursor: pointer;


}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.item-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    padding: 8px 16px;
    font-size: 12px;
    color: #656565;
}

.checkbox-parent {
    display: flex;
    align-items: center;
    gap: 8px;

}

.trash-icon {
    width: 14px;
    cursor: pointer;
}